
<div class="main">
    <div class="di"><h2>.</h2></div>
  <div class="loginbox">
    <div class="l1title"><h3>Generate  OTP</h3></div>
      <div class="wh">
          <div class="iwi">
         <input class="ww" type="text" placeholder="MobileNumber">
         <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <button class="w2">sendOTP</button>

          <div class="iwi">
            <input class="ww" type="password" placeholder="EnterOTP">
            <i class="fa fa-mobile" aria-hidden="true"></i>
             </div>
        <a href="/doctor-cp"><button class="w2 w3">Verify</button></a>
          <div class="acccr">
              <p><b>Remember password ? <span><a href="/doctor-login">SignIn</a></span></b></p>
          </div>
          <br>
          <br>
          <a href=""><div class="h"><i class="fa fa-home" aria-hidden="true"></i></div></a>
        
  </div>
  <div class="logo">
  <table>
    <tr>
        <td><div class="t"><h1>HealthCare</h1></div></td>
        <td><div class="ima"><img src="logo.png" width="200px" height="200px"></div>
        </td>
    </tr>
</table>
</div>

   
  </div>