
<div class="main">
    <div class="di"><h2>.</h2></div>
  <div class="loginbox">
    

    <div class="l1title"><h3>Generate password</h3></div>
      <div class="wh">
          <div class="ww">
            <div class="mic"><i class="fa fa-phone" aria-hidden="true"></i></div>
              <p><span class="span1">+91</span>7788800432</p>
          </div>
          <div class="iwi">
         <input class="ww" type="text" placeholder="New Password">
         <i class="fa fa-key" aria-hidden="true"></i>
          </div>

          <div class="iwi">
            <input class="ww" type="password" placeholder="Conform newpassword">
            <i class="fa fa-lock" aria-hidden="true"></i>
             </div>
        <a href="/doctor-login"><button class="w2 w3">SignIn</button></a>
          <div class="acccr">
              <p><b>Create Account <span><a href="/signup">SignUp</a></span></b></p>
          </div>
          <br>
          <br>
          <a href=""><div class="h"><i class="fa fa-home" aria-hidden="true"></i></div></a>
        
  </div>
  
  <table>
    <tr>
        <td><div class="t"><h1>HealthCare</h1></div></td>
        <td><div class="ima"><img src="logo.png" width="200px" height="200px"></div>
        </td>
    </tr>
</table>


   
  </div>