<div class="main">
    <div class="di"><h2>.</h2></div>
  
  <div class="loginbox">
    <div class="d"><img src="d1.png" alt="" width="90px" height="90px"></div>
    <div class="l1title"><h1>Login</h1></div>
      <div class="wh">
        <a href="/doctor-login"><div class="ww">
           <table>
             <tr>
                <td><i class="fa fa-user-md" aria-hidden="true"></i></td>
                <td><h3>Login as Doctor</h3></td>
              </tr>
          </table>
          
        </div></a>
             <a href="/patient-login"><div class="ww">
              <table>
                <tr>
                   <td><i class="fa fa-user" aria-hidden="true"></i></td>
                   <td><h3>Login as Patient</h3></td>
                 </tr>
             </table>
            </div></a>
            <a href="/chemist-login"><div class="ww">
              <table>
                <tr>
                   <td><i class="fa fa-heartbeat" aria-hidden="true"></i></td>
                   <td><h3>Login as Chemist</h3></td>
                 </tr>
             </table>
            </div></a> 
                <a href="/admin-login"><div class="ww">
                  <table>
                    <tr>
                       <td><i class="fa fa-medkit" aria-hidden="true"></i></td>
                       <td><h3>Admin Login</h3></td>
                     </tr>
                 </table>
                </div></a> 
          </div>
  </div>
  <div class="logo">
  <table>
    <tr>
        <td><div class="t"><h1>HealthCare</h1></div></td>
        <td><div class="ima"><img src="logo.png" width="200px" height="200px"></div>
        </td>
    </tr>
</table>
</div>

   
  </div>