<div class="main">
    <div class="di"><h2>.</h2></div>
    
  <div class="loginbox">
   <div class="l1title"><h3>Register</h3></div>
      <div class="wh">
        
          <div class="iwi">
         <input class="ww" type="text" placeholder="Name">
         <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="iwi">
            <input class="ww" type="mail" placeholder="Mail">
            <i class="fa fa-envelope" aria-hidden="true"></i>
             </div>
             <div class="iwi">
                <input class="ww" type="text" placeholder="ContactNumber">
                <i class="fa fa-phone" aria-hidden="true"></i>
                 </div>
                 <div class="iwi">
                    <input class="ww" type="text" placeholder="LicenseNumber">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                     </div>
                     <div class="iwi">
                        <input class="ww" type="text" placeholder="CreatePassword">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                         </div>
                         <div class="iwi">
                            <input class="ww" type="password" placeholder="ConformPassword">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <div class="hp" ><i class="fa fa-eye-slash" aria-hidden="true"></i></div>
                             </div>
                             <a href=""><div class="ww w1" href=""><p>SignUp</p></div></a>
        
          <div class="acccr">
              <p><b>Already have an account - <span><a href="/doctor-login">Signin</a></span></b></p>
          </div>
          </div>
          <br>
          <br>
          <a href=""><div class="h"><i class="fa fa-home" aria-hidden="true"></i></div></a>
          
  </div>
  <div class="logo">
  <table>
    <tr>
        <td><div class="t"><h1>HealthCare</h1></div></td>
        <td><div class="ima"><img src="logo.png" width="200px" height="200px"></div>
        </td>
    </tr>
</table>
</div>

   
  </div>