*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.loginbox{
    width:330px;
    height:450px;
    background-color: rgba(254, 254, 254, 0.4);;
    margin:auto;
    margin-top: 130px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 4px 9px 10px 0 rgb(22, 111, 133);

    
}
.loginbox:hover{
    box-shadow: 4px 9px 10px 0 rgb(223, 212, 212);
    
}
.l1title{
    position: relative;
    top:22px;
    margin-left: 33px;;
    float: left;
    font-size:18px;
    color:rgb(22, 111, 133);
}
.ww{
  border:3px solid black;
  padding: 5px;
  width:280px;
  margin:auto;
  margin-top: 15px;
  border-radius:20px;
  opacity:0.5;
  font-size: 18px;
  cursor: pointer;
  
  background: transparent;
}

  .wh{
      padding-top:50px;
     }
.ww td{
    padding-left: 20px;
}

.wh a{
    text-decoration:none;
    color:black;
}
.main{
    background-image: url("DOC.jpg");
    width: 100%;
    height:665px;
    background-size: cover;
}
.move{
    position: absolute;
    left:900px;
    top:100px;
}

input[type=text]:focus{
    border-color: rgb(22, 111, 133);
    box-shadow:0 0 8px 0 rgb(22, 111, 133);
}
.iwi input[type=text]{

    padding-left: 43px;

}

.iwi{
    position: relative;
}
.iwi i{
    position: absolute;
    right: 270px;
    top:25px;
    color:#aaa;
    transition:.3s;
}
.iwi input[type=text]:focus + i{
    color:rgb(22, 111, 133);
}
.iwi input[type=password]{
    padding-left: 40px;
}
input[type=password]:focus{
    border-color: rgb(22, 111, 133);
    box-shadow:0 0 8px 0 rgb(22, 111, 133);
}
.iwi input[type=password]:focus + i{
    color:rgb(22, 111, 133);
}
input:focus{
    outline:none;
}
.w1{
    width:180px;
    padding:5px;
}
button:focus{
    outline: none;
}
.acccr{
    position: relative;
    top:10px;
    font-size: 16px;

}
.acccr a{
    text-decoration:none;
    color: rgb(22, 111, 133);
    transition: .2s;
}
.acccr a:hover{
    color: rgb(84, 195, 223);
    text-shadow:0 0 8px 0 rgb(87, 185, 214);
}
.w1:hover{
    color:white;
    background-color: rgb(22, 111, 133);
    border-color:rgb(22, 111, 133);
}



.iwi input[type=mail]{
    padding-left: 40px;
}
input[type=mail]:focus{
    border-color: rgb(22, 111, 133);
    box-shadow:0 0 8px 0 rgb(22, 111, 133);
}
.iwi input[type=mail]:focus + i{
    color:rgb(22, 111, 133);
}

.hp{
    position: relative;
    top:-53px;
    left: 227px;
    
}
.hp i{
    color:black;
    cursor: pointer;
    
}
.t{
    position: relative;
    top:-20px;
    left:20px;
}
.ima{
    position: relative;
    top:-20px;
    right:10px;
}
.iwi input[type=mail]{
    padding-left: 43px;

}
.iwi input[type=password]{
    padding-left:43px;
}
.t{
    position: absolute;
    top:100px;
    left:700px;
    font-size: 20px;;
}
.ima{
    position: absolute;
    top:10px;
    right:290px;
}
.h{
    color: rgb(22, 111, 133);
    font-size: 25px;
    position: relative;
    top:-450px;
    left:130px;
    transition:.7s;
}
.h:hover{
   transform: scale(1.3);
}
