
<div class="main">
    <div class="di"><h2>.</h2></div>
  <div class="loginbox">
   
    <div class="l1title"><h1>Doctor Login</h1></div>
    <div class="ad"><img src="d1.png" alt="" width="50px" height="50px"></div>
      <div class="wh">
          <div class="iwi">
         <input class="ww" type="text" placeholder="ContactNumber">
         <i class="fa fa-phone" aria-hidden="true"></i>
          </div>

          <div class="iwi">
            <input class="ww" type="password" placeholder="Password">
            <i class="fa fa-lock" aria-hidden="true"></i>
             </div>
        <button class="ww w1">Login</button>
        <div class="forgotpass">
            <p><b><a href="/doctor-fp">forgot password</a></b></p>
        </div>
          <div class="acccr">
              <p><b>Create Account - <span><a href="/signup">Signup</a></span></b></p>
          </div>
          </div>
          <br>
          <br>
          <a href=""><div class="h"><i class="fa fa-home" aria-hidden="true"></i></div></a>
  </div>
  <div class="logo">
  <table>
    <tr>
        <td><div class="t"><h1>HealthCare</h1></div></td>
        <td><div class="ima"><img src="logo.png" width="200px" height="200px"></div>
        </td>
    </tr>
</table>
</div>

   
  </div>