<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">

<div class="container">
    <div class="card top" >
            <table>
                <tr>
                    <td><p class="intro"> Doctor ></p></td>
                    
                </tr>
            </table>
    </div>

    <br>
    <div class="card1">
        <div class="cardh">
            <div class="m">
                <table>
                    <tr>
                        <td><p >Doctors Consulted</p></td>
                         <td><p>></p></td>
                         <td>
                            <div class="ser">
                                <input class="s1" type="text" placeholder="Search">
                                <i class="fa fa-search" style="color: black;" aria-hidden="true"></i>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="m1"><p style="color: blue; font-size: 20px; padding-right: 20px;">+</p></div>
        </div>
        <div class="b"><button class="tb" (click)="fub()">+Add</button></div>
         <div class="card-white">
             <div class="tab">
             <table>
                 <tr>
                     <td>
                         <div class="tc1">
                             <p>Name</p>
                         </div>
                     </td>
                     <td>
                        <div class="tc1">
                            <p>Date</p>
                        </div>
                    </td>
                    <td>
                        <div class="tc1">
                            <p>Disease</p>
                        </div>
                    </td>
                    <td>
                        <div class="tc1">
                            <p>Place and Hospital</p>
                        </div>
                    </td>
                 </tr>
             </table>
               </div>
             <div class="subwc">
                 <table>
                     <tr>
                         <td><p class="pp" style="color: black;">></p></td>
                         <td>
                             <div class="subb">
                                <table>
                                    <tr>
                                        <td><div class="da"><p>T Vamsikrishna</p></div></td>
                                        <td><div class="da"><p>3/2/2001</p></div></td>
                                        <td><div class="da"><p>Cold</p></div></td>
                                        <td><div class="da"><p>chennai,gandhiroad
                                            ,HHC Hosipital</p></div></td>
                                    </tr>
                                </table>
                              </div>
                        </td>
                    </tr>
                </table>
                 <table>
                    <tr>
                        <td><p class="pp"style="color: black;">></p></td>
                        <td>
                            <div class="subb">
                                <table>
                                    <tr>
                                        <td><div class="da"><p>T Vamsi</p></div></td>
                                        <td><div class="da"><p>3/2/2000</p></div></td>
                                        <td><div class="da"><p>Migrane</p></div></td>
                                        <td><div class="da"><p>chennai,gandhiroad
                                            ,SRM Hosipital</p></div></td>
                                    </tr>
                                </table>

                             </div>
                       </td>
                   </tr>
                 </table>
                 <table>
                    <tr>
                        <td><p class="pp"style="color: black;">></p></td>
                        <td>
                            <div class="subb">
                                <table>
                                    <tr>
                                        <td><div class="da"><p>T krishna</p></div></td>
                                        <td><div class="da"><p>3/2/2001</p></div></td>
                                        <td><div class="da"><p>Fever</p></div></td>
                                        <td><div class="da"><p>chennai,gandhiroad
                                            ,CCC Hosipital</p></div></td>
                                    </tr>
                                </table>

                             </div>
                       </td>
                   </tr>
                 </table>
             </div>

          </div>
    </div>
    <div class="card1 ss">
        <div class="cardh">
            <div class="m">
                <table>
                    <tr>
                        <td><p >Recommended</p></td>
                         <td><p>></p></td>
                         <td>
                            <div class="ser">
                                <input class="s1" type="text" placeholder="Search">
                                <i class="fa fa-search" style="color: black;" aria-hidden="true"></i>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>    
            <div class="tle">
                <table>
                    <tr>
                        <td>
                            <div class="tbleda">
                                <div class="tbcontent">
                                    <ul>
                                        <li><img src="do.png" alt="" width="75px" height="75px"></li>
                                        <li><p><b>Dr.RaviKrishna</b></p></li>
                                        <li><p style="color: rgb(12, 193, 224); position: relative; ">ravikri123@gmail.com</p></li>
                                    </ul>
                                    <hr>
                                    
                                    <div class="litab">
                                        <table>
                                            <tr>
                                                <td>
                                                    <img class="l1 l2"src="https://img.icons8.com/ios-glyphs/30/000000/survival-bag.png" width="17px" height="17px"/>
                                                </td>
                                                <td>
                                                     <p class="l1">Cardiologist</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img class="l1 l2" src="https://img.icons8.com/android/24/000000/phone.png" width="17px" height="17px">
                                                </td>
                                                <td>
                                                     <p class="l1">7780376293</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img class="l1 l2" src="https://img.icons8.com/material-rounded/24/000000/place-marker.png" width="17px" height="17px">
                                                </td>
                                                <td>
                                                     <p class="l1" style="font-size: 14px;">chennai,gandhiroad<br>
                                                        ,CCC Hosipital</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img class="l1 l2" src="https://img.icons8.com/windows/32/000000/plus.png" width="17px" height="17px">
                                                </td>
                                                <td>
                                                     <p class="l1 ba" style="color: rgba(17, 28, 133, 0.637);" (click)="bk()">Book Appointment</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="tbleda">
                                
                            </div>
                        </td>
                        <td>
                            <div class="tbleda">

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="tbleda">

                            </div>
                        </td>
                        <td>
                            <div class="tbleda">

                            </div>
                        </td>
                        <td>
                            <div class="tbleda">

                            </div>
                        </td>
                    </tr>
                </table>
            </div>

    </div>
    <div class="card1 popup" id="all" *ngIf="ngif">
        <div class="cardh pop">
            <div class="m m123">
                <table>
                    <tr>
                        <td><p >Doctors Consulted</p></td>
                         <td><p>></p></td>
                         <td>
                            <div class="a123" (click)="funny()">
                              <p>+</p>                      
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
           <div class="poptable">
                <table>
                    <tr>
                        <td>
                            <div class="popda">
                                <p>Name</p>
                            </div>
                        </td>
                        <td>
                            <div class="popda">
                                <p><b>:</b></p>
                            </div>
                        </td>
                        <td>
                            <div class="popda">
                                <input type="text" placeholder="Name">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="popda">
                                <p>Date</p>
                            </div>
                        </td>
                        <td>
                            <div class="popda">
                                <p><b>:</b></p>
                            </div>
                        </td>
                        <td>
                            <div class="popda">
                                <input type="text" placeholder="enter Date">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="popda">
                                <p>Disease</p>
                            </div>
                        </td>
                        <td>
                            <div class="popda">
                                <p><b>:</b></p>
                            </div>
                        </td>
                        <td>
                            <div class="popda">
                                <input type="text" placeholder="enter your problem">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="popda">
                                <p>Place and Hospital</p>
                            </div>
                        </td>
                        <td>
                            <div class="popda">
                                <p><b>:</b></p>
                            </div>
                        </td>
                        <td>
                            <div class="popda">
                                <input class="hop"type="text" placeholder="enter place">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

         <div class="poppyb">
             <ul>
                 <li>
                    <div >
                        <button class="popb" (click)="funny1()">cancel</button>
                    </div>
                 </li>
                 <li>
                    <div >
                        <button class="popb">submit</button>
                    </div>
                 </li>
             </ul>
         </div>
    </div>
    <div class="card1 bk" id="bk11" *ngIf="booking">
        <div class="cardh bkh">
            <div class="m m123">
                <table>
                    <tr>
                        <td><p >Book Appointment</p></td>
                         <td><p class="bld"><b>></b></p></td>
                         <td>
                            <div class="a123 a1234" (click)="funny123()">
                              <p>+</p>                      
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="bkimg">
            <table>
                <tr>
                    <td>
                        <div class="bktaimg">
                            <img src="do.png" alt="" width="75px" height="75px">
                        </div>
                    </td>
                    <td>
                        <div class="bktaul">
                            <ul>
                                <li><b>Dr.Heisenberg</b></li>
                                <li class="bktasp">methcook@gmail.com</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="bkkk">
            <table>
                <tr>
                    <td>
                        <div class="bktaav">
                            <p><b>Available</b></p>
                            <p class="lett">mon<span>-</span>fri</p>
                        </div>
                    </td>
                    <td>
                        <div class="bktaav">
                            <p><b>Timings</b></p>
                            <p class="lett">9am<span>-</span>5pm</p>
                        </div>
                    </td>
                </tr>
            </table>
             </div>
        </div>
        <div class="userbook">
            <div class="userti">
                <p><b>Select</b></p>
            </div>
            <div class="userta">
                <table>
                    <tr>
                        <td>
                            <div class="userda">
                                <p>Date</p>
                            </div>
                        </td>
                        <td>
                            <div class="userda">
                                <p><b>:</b></p>
                            </div>
                        </td>
                        <td>
                            <div class="userda">
                                <p><input class="userin" type="date" placeholder="Date"></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="userda">
                                <p>Time</p>
                            </div>
                        </td>
                        <td>
                            <div class="userda">
                                <p><b>:</b></p>
                            </div>
                        </td>
                        <td>
                            <div class="userda">
                                <p><input class="userin" type="time" placeholder="Date"></p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="poppy">
                <ul>
                    <li>
                       <div >
                           <button class="pop9" (click)="funny123()">cancel</button>
                       </div>
                    </li>
                    <li>
                       <div >
                           <button class="pop9">Book</button>
                       </div>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
</div>